[Desktop Entry]
Type=Link
Name=yEd Graph Editor
Icon=/home/cloud/yEd/.install4j/yEd.png
URL=/home/cloud/.local/share/applications/yEd Graph Editor-0.desktop
